
        @import url(http://fonts.googleapis.com/earlyaccess/notosanssc.css);

        header,img,ul,li,button,section,h1,div,p,br,article,footer,body {
        margin: 0;
	    padding: 0;
	    border: 0;
	    font-size: 100%;
	    font-family: 'Noto Sans KR', sans-serif;
	    vertical-align: baseline;
        letter-spacing: -0.05em;
        }
        body { }
        
        .root_wrap {
            padding-top:82px;
            min-width: 1100px;
        }
        a {text-decoration: none;
            color: black;}
        ul {list-style: none;}
        header {
            width: 100%;
            height: 70px;
            top:0;
            left:0; right:0;
            position: fixed;
            font-size: 20px;
            border: 1px solid black;
            padding:5px;
            line-height: 70px;
            background: #fff; z-index: 1;
        }
        header h1 {
            position: absolute; 
            left: 0; right: 0; top: 0; bottom: 0;
        }
        header .n_gnb {
            width: 900px; 
            margin: 0 auto; 
            overflow: hidden;
        }
        header .n_gnb div {
            float:left; 
            width: 16.6%;
            text-align: center;
        }
        header .right_box {
            position: absolute; 
            right:0; top:0; bottom:0;
        }
        header .right_box button {height:100%; margin-right: 20px;}        
        
        .visual_container {
            position:relative; 
            height:335px; 
            background:url('http://www.dongkuk.com/assets/ko/images/ir/visual.jpg') no-repeat center 0;
        }
        .visual_container::after {
            display:block; 
            position:absolute;
            bottom:60px; left:0; right:0; 
            border-top:1px solid white; 
            content:" "; 
        }
        .visual_container .title {
            width: 1100px; 
            margin:0 auto; 
            height:275px;
            text-align: center;
            color:white;
            position: relative;
            }
        .visual_container h3 { 
            font-size: 1.4em;
            font-weight: bold;
            line-height: 275px;
        }
        .visual_container p {
            position: absolute;
            top: 50%;
            margin-top: 20px;
            left:0;
            right: 0;
        } 
        .visual_container .navigation {
            width: 1100px; 
            margin:0 auto;  height:60px; 
        }
        .visual_container .navigation div {
            float:left; 
            height:60px; 
            line-height: 60px; 
            border-right:1px solid white
        }
        .visual_container .navigation div:first-child {border-left:1px solid white;}
        .contents {
            width:1100px; 
            margin:80px auto 150px;
        }
        .navigation .introduce, .name {
            padding-right: 50px;
        }
        .tab_box {
            display: flex;
            height: 40px;
            border:1px solid #dddddd;
            margin-bottom: 50px;
            line-height: 40px;
        }
        .tab_box a {
            flex-grow: 1;
            text-align: center;
        }
        .tab_box a.on {
            background: blue;
            color: white;
        }
        .image {
            width: 1100px;
            margin: 0 auto 70px;
            }
        .wrap_text {
            overflow:hidden;
            width: 1100px;
            height: 350px; 
            margin: 0 auto 80px;
            line-height: 30px;
        }
        .wrap_text .left {
            float:left;
            width: 520px;
        }
        .wrap_text .right {
            float: right;
            width: 535px;
        }
        .wrap_text .focus {
            font-size: 1.4em;
            font-weight: bold;
            margin-bottom: 30px;
        }
        .right .name {
            float: right;
            margin-right: 5px;
            font-size: 1.1em;
            font-weight: bold;
        }
        .bottom {
            width: 100%;
            height: 200px;
            border: 1px solid black;
            overflow: hidden;
            box-sizing: border-box;
            line-height: 200px ;
            
        }
        .bottom button {
            background-color: white;
        }
        .bottom .video {
            float: left;
            width: 50%;
            height: 200px;
            border-right: 1px solid black;
            margin-right: 20px;
            text-align: right;
            padding-right: 20px;
        }
        footer {
            width: 100%;
            background-color: rgb(56, 55, 55);
        }
        footer .footer_box {
            position: relative;
            overflow: hidden;
            width:1100px;
            height: 180px;
            padding-left: 200px;
            box-sizing: border-box;
            margin: 0 auto ; 
        }
        footer .logo {
            position: absolute;
            margin-right:200px;
            top: 10%;
            left: 0;
            font-size: 1.2em;
            font-weight: bold;
            color: white;
        }
        footer .info {
            padding-top: 20px;
        }
        footer .info a {
            margin-right: 20px;
        }
        footer .sns {
            position: absolute;
            top:10%;
            right: 20%;
        }
        footer .f_button {
            background-color: rgb(56, 55, 55);
            border:1px solid rgb(207, 204, 204);
            padding: 10px;
            position: absolute;
            top: 10%;
            right: 0;
        }
        footer .info a, .sns, .f_button {
            color:rgb(207, 204, 204);
        }
        footer .sns {
            margin-right: 5px;
        }
        footer .f_button .accompany {
            border-right: 1px solid rgb(207, 204, 204);

        }
        footer .footer_company {
            color: rgb(207, 204, 204);
            margin-top: 35px;
        }
       
        
